:root{
    --agua: #EBFFF9;
    --aqua-100: #33F7C3;
    --aqua-80: #5CF9CF;
    --aqua-60: #85FADB;
    --aqua-40: #ADFCE7;
    --aqua-20: #EBFFF9;
    
    --success-100: #0FBC7E;
    --success-40: #9FE4CB;

    --error-100: #FA4646;
    --error-40: #FDB5B5;

    --attention-100:#FF8A36;
    --attention-60: #FFB986;

    --info-100: #0043C6;
    --info-80: #628ADA;

    --neutral-100: #0B1530;
    --neutral-90: #232C44;
    --neutral-80: #3B4459;
    --neutral-70: #6C7383;
    --neutral-60: #B6B9C1;
    --neutral-50: #CED0D6;
    --neutral-40: #E7E8EA;
    --neutral-30: #EFF0F3;
    --neutral-20: #F5F6F8;

    --white-80: rgba(255, 255, 255, 0.80);
    --white: #FFFFFF;

    --Main_grey-90: #232C44;
    --Main_grey-80: #3B4459;    
    --Main_grey-70: #6C7383;
    --Main_grey-50: #CED0D6;

    --blue--120: #2767FB;
    --blue-100: #457BF8;
    --blue-80: #6E98FA;
    --blue-60: #98B6FB;
    --blue-40: #C1D3FD;
    --blue-20: #EAF0FE;

    --Condition-colors-Error_100: #E6251A;
}

#footer p:last-child{
    color: var(--neutral-60) ;
}

@font-face {
    font-family: FuturaBold;
    src: url('./fonts//FuturaPT-Bold.ttf');
}

@font-face {
    font-family: FuturaMedium;
    src: url("./fonts/FuturaPT-Book.ttf");
}

@font-face {
    font-family: Futura;
    src: url('./fonts//FuturaPT-Medium.ttf');

}

.bolderText{
    font-family: Futura;
}

html, body {
    margin:0;
    padding:0;
    height:100%;
 }

 .correct{
    color: var(--success-100);
 }

 .incorrect{
    color: var(--error-100)
 }

/* The sidebar menu */
.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 240px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    overflow-x: hidden; /* Disable horizontal scroll */

    display: flex;
    padding: 26px 16px 48px 16px;
    flex-direction: column;
    align-items: flex-start;
    gap: 32px;
    background-color: var(--Main_grey-90);
}

.sidenavWrapper a, h1 a  {
    text-decoration: none;
}

.sidenav h1{
    text-transform: uppercase;
}

h1 a:visited{
    color: inherit;
}

.firstLevel, .secondLevel {
    display: flex;
    height: 24px;
    align-items: center;
    color: var(--white);

    font-family: FuturaBold;
    font-size: 20px;
    line-height: 24px; /* 120% */
}


.firstLevel {
    width: 216px;
    padding: 7px 12px 9px 12px;
    margin-bottom: 4px;
}

.secondLevel {
    width: 192px;
    padding: 7px 12px 9px 36px;
    font-family: FuturaMedium;

}

.activeSideNav {
    color: var(--white);
    background: var(--Main_grey-80, #6C7383);
    border-radius: 8px;
}

.activeSecondLevelSideNav {
    color: var(--white);
    background: var(--neutral-70);
    border-radius: 8px;
}

.firstLevel:hover, .secondLevel:hover{
    color: var(--white-80);
    background: var(--Main_grey-70);
    border-radius: 8px;
    cursor: pointer;
}


.sidenav h1 {
    padding-left: 10px;
    cursor: pointer;
}

h1, h2{
    margin: 0;
}

.pBold{
    font-family: FuturaBold;
}
h1 {
    color: var(--white);
    font-family: FuturaBold;
    font-size: 40px;
}

h3{
    font-family: FuturaBold;
    color: var(--neutral-100);
    font-size: 28px;
    padding-bottom: 24px;
    margin: 0;
}

.beforeh3{
    margin-bottom: 40px !important;
}

p {
    /* Text */
    color: var(--neutral-100);
    font-family: FuturaMedium;
    font-size: 20px;
    line-height: 24px; /* 120% */
}

.mainContent {
    display: flex;
    width: 1032px;
    max-width: 1032px;
    padding: 88px 104px 180px 104px;
    flex-direction: column;
}

.page {
    position: absolute;
    top: 0;
    right: 0;
    width: calc(100% - 272px);
    min-height: 100vh;

    display: flex;
    flex-direction: column;
    overflow: hidden;
}

.mainContent .contentBlock{
    padding-bottom: 64px;
}

.contentBeforeLink{
    padding-bottom: 40px;
}

.mainContent .contentBlock:last-child, 
.zeroPadding, 
.manyTexts *:last-child,
.inputRadioWrapper:last-child,
.flexWow p{
    padding-bottom: 0 !important
}

p {
    color: var(--neutral-100);
    max-width: 680px    ;
    font-size: 20px;    
    margin: 0;
}

.mainContent h1 {
    color: var(--neutral-100);
    padding-bottom: 32px;
    font-size: 60px;
}   

.mainContent h2 {
    color: var(--neutral-100);
    padding-bottom: 28px;
    font-family: FuturaBold;
    font-size: 40px;
    font-style: normal;
    line-height: 48px
}

.manyTexts *, .colorTopWrapper, .checkboxValidationWrapper *,  .inputRadioWrapper, .paddingBot16{
    padding-bottom: 16px;
}

.principlesBlock {
    display: flex;
    flex-wrap: wrap;
    gap: 24px;
}

.principlesBlock img:hover{
    cursor: pointer;
}

.aboutList{
    list-style: none;
}

.aboutList li, .paddingBot20 {
    padding-bottom: 20px;
}

#linksDevelopment *{
    padding-bottom: 0;
}

#linksDevelopment span{
    line-height: 24px;
    height: 24px;
}

.aboutListHeader{
    line-height: 24px;
    vertical-align: middle;
    font-family: FuturaBold;
    color: var(--neutral-100);

}

.aboutListText{
    padding-left: 38px;
}

.aboutListHeader:before{
    content: "";
    background-image:url('img/tick.jpg');
    background-size: 100% 100%;
    background-size: contain;
    display: inline-block;

    height: 24px;
    width: 24px;

    position: relative;
    top: 6px;

    margin-right: 14px;
}

#footer {
   margin-top: auto;
   padding-left: 104px;
   padding-bottom: 43px;
}

#secondLevel5, #secondLevel6{
    padding-top: 4px ;
}

.paddingTop16 {
    padding-top: 16px;
}

/* Style the tab */
.tab {
    overflow: hidden;
}

/* Style the buttons that are used to open the tab content */
.tab button {
    background-color: inherit;
    float: left;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 10px 32px;
    transition: 0.3s;
    color: var(--Neutral-100);
    /* Text */
    font-family: FuturaMedium;
    font-size: 20px;
    line-height: 24px; 
}

/* Change background color of buttons on hover */
.tab button:hover {
    background-color: #ddd;
    border-radius: 16px 16px 0 0 ;

}

/* Create an active/current tablink class */
.tab button.active {
    background-color: var(--neutral-20);
    border: none;
    border-radius: 16px 16px 0 0 ;
}

/* Style the tab content */
.tabcontent {
    display: none;
    border-top: none;
    width: 636px;
    height: 64px;
    padding: 94px 66px 118px 66px;
    justify-content: center;
    align-items: center;
    background-color: var(--neutral-20);
    border-radius: 0 24px 24px 24px;
}

.singleTabContent{
    width: 680px;
    height: 166px;
    padding: 0;
    display: flex; 
    margin-top: 28px; 
    border-radius: 24px;
}

.whiteBackground {
    background-color: var(--white);
    border: 16px solid;
    border-color: var(--neutral-20);
}

.beforeMenu{
    padding-bottom: 54px !important;
}

.menuTab{
    padding-bottom: 8px;
}

.menuTab__selected, .menuTab__hover{
    position:relative;
}

.menuTab__selected::after, .menuTab__hover::after{
    border-radius: 2px;
    position: absolute;
    content:'';
    bottom:0;
    left:0;
    right:0;
}

.menuTab__selected::after{
    border: 2px solid var(--blue-100);
}

.menuTab__hover::after {
    border: 2px solid var(--neutral-50);
}

.singleTabWrapper:nth-last-child(1){
    margin-right: 0
}

.menuTab__disabled p {
    color: var(--neutral-50);
}

.singleTabWrapper{
    height: 64px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 32px;
}

.smallerTab{
    height: 50px;
}

.marginTop8{
    margin-top: 8px;
}

.LinkBlock{
    display: flex;
    align-items: center;
    font-size: 20px;
    line-height: 24px;
    gap: 14px;
}

.singleTabCaption{
    font-family: FuturaMedium;
    font-size: 16px;
    font-style: normal;
    line-height: 18px; 
}

.whenToUseGreen{
    display: flex;
    width: 192px;
    min-height: 124px;
    padding: 24px 24px 28px 24px;
    margin-right: 24px;
    flex-direction: column;
    align-items: flex-start;
    border-radius: 24px;
    gap: 8px;
    background-color: var(--agua);
}

.whenToUseGreenBig{
    width: 280px;
    height: 176px;
}

.whenToUseGreenBiggie{
    width: 280px;
    height: 152px;
}

.inputWrapper{
    margin-top: 24px;
    margin-bottom: 32px;
    padding: 40px 48px 48px 48px;
    background: var(--neutral-20);
    width: 240px;
    border-radius: 24px;
}

.exampleMenuWrapper{
    padding-top: 28px;
    display: flex;
}

.paddingTop28{
    padding-top: 28px;
}

.exampleMenuWrapper img{
    margin-right: 24px;
}

.noCaptions{
    height: 24px;
}

.correctBackground{
    background-color: var(--agua);
    padding: 8px 6px 8px  4px;
}

.breadcrumb::before{
    content: "";
    background-image:url('img/breadcrumbs.svg');
    background-size: 100% 100%;
    display: inline-block;

    height: 16px;
    width: 8px;

    position: relative;
    top: 2px;
    margin-right: 8px;
}

.breadcrumbHover::before {
    background-image:url('img/breadcrumbsHover.svg');
}

.breadcrumb{
    color: var(--blue-100);    
}

.breadcrumbHover{
    color: var(--blue-80);    
}

button{
    display: flex;
    padding: 16px 36px;
    justify-content: center;
    align-items: center;
    border: none;
    border-radius: 16px;
    background: var(--blue-100);
    color: var(--white);
    font-family: FuturaMedium;
    font-size: 20px;
    line-height: 24px; 
}

.iconButton{
    display: flex;
    padding: 16px;
    align-items: flex-start;
    gap: 10px;
}

.secondaryButton{
    background-color: var(--neutral-30);
    color: var(--blue-100);
}

.tertiaryButton{
    background:none;
    color: var(--blue-100);
}

.buttonHover{
    background-color: var(--blue-80);
}

.buttonActive{
    background-color: var(--blue--120);
}

.buttonDisabled{
    background-color: var(--blue-40);
}

.buttonSecondaryActive{
    background-color: var(--neutral-50);
    color: var(--blue-100);
}

.buttonTertiaryActive{
    background-color: var(--neutral-40);
    color: var(--blue-100);
}

.buttonSecondaryDisabled{
    color: var(--blue-80);
    background-color: var(--neutral-20);
}

.buttonTertiaryDisabled{
    background: none;
    color: var(--blue-80);
}

.manyButtons{
    height: 230px;
    align-items: flex-start;
    padding-top: 32px;
    margin-bottom: 32px;
}

.buttonsIcon{
    height: 158px;
    align-items: flex-start;
    padding-top: 32px;
    margin-bottom: 32px; 
}

.paddingTop32{
    padding-top: 32px;
}

.threeItems button {
    margin-bottom: 28px;
}

.threeItems *:nth-child(2){
    margin-bottom: 36px;
}

.exampleMenuWrapper .menuTab img{
    margin-right: 8px;
}

.marginEight{
    margin-right: 8px;
}

.iconRight{
    padding-left: 8px;
}

.noHeight{
    height: 152px;
}

input[type="checkbox"]{
    margin: 0;
    width: 24px;
    height: 24px; 
    border: none;  
    border-radius: 8px;
    background-color: var(--neutral-30);
}

.customCheckbox{
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.customCheckbox+label {
    display: inline-flex;
    align-items: center;
    user-select: none;
}

.customCheckbox+label::before {
    content: '';
    display: inline-block;
    width: 24px;
    height: 24px;
    flex-shrink: 0;
    flex-grow: 0;
    border-radius: 8px;
    margin-right: 12px;
    background-color: var(--neutral-30);
}

.radioInput+label::before {
    border-radius: 30px;
}

.customLabel{
    color: var(--Neutral-100);
    font-family: FuturaMedium;
    font-size: 20px;
    line-height: 24px; 
}

.checkedInput+label::before {
    background-image: url('img/tickCheckbox.svg');
}

.radioInputChecked+label::before {
    border: 30px;
    height: 12px;
    width: 12px;
    border: 6px solid;
    background-color: var(--white);
    border-color: var(--blue-100);

}

.checkboxTab{
    height: 124px;
    align-items: flex-start;
    padding: 55px 163px;
    width: 410px;
}

.calendarTab{
    align-items: flex-start;
    width: 768px;
    height: 420px;
    padding: 0;
}

.tagsTab{
    width: 736px;
    height: 248px;
    padding: 0;
}


.hugeMargin{
    padding-bottom: 28px;
    height: 24px;
}

.chekboxWrapper{
    height: 124px;
    margin-right: 34px;
}

.radioHover+label::before{
    border-color: var(--blue-80);
}

.radioActive+label::before{
    border-color: var(--blue--120);
}

.radioInputDisabled+label::before{
    border-color: var(--blue-20);
}

.checkboxHover+label::before{
    background-color: var(--neutral-40);
}

.checkboxActive+label::before{
    background-color: var(--neutral-50);
}

.checkboxDisabled+label::before{
    background-color: var(--neutral-20);
}

.checkedInputHover+label::before{
    background-image: url('img/tickCheckboxHover.svg');
}

.checkedInputActive+label::before{
    background-image: url('img/tickCheckboxActive.svg');
}

.checkedInputDisabled+label::before{
    background-image: url('img/tickCheckboxDisabled.svg');
}

.errorCheckbox+label::before{
    background: none;
    border: 2px solid var(--Condition-colors-Error_100);
    width: 20px;
    height: 20px;
}

.checkboxValidationWrapper{
    margin-top: 28px;
}

.checkboxValidationWrapper p{
    padding: 0;
}

.whenToUseRadio{
    padding-top: 0;
    padding-bottom: 28px;
}

.paddingBot28{
    padding-bottom: 28px;
}

.radioExampleWrapper{
    padding-top: 20px;
    display: flex;
    gap: 28px;
}


input[type='radio'] + .radioError{
    width: 12px;
    height: 12px;
}

.tabModal{
    width: 584px;
    height: 260px;
    padding: 52px 92px;
    align-items: flex-start;

}

.modal{
    padding: 24px 0 32px  32px ;
    width: 546px;
    height: 204px;
    border-radius: 24px;
    background: var(--white);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.modal h2{
    color: var(--neutral-100);
    font-family: FuturaBold;
    font-size: 28px;
    line-height: 36px; /* 128.571% */
    width: 432px;
    margin-right: 60px;
    padding-bottom: 16px;
}

.modal p{
    width: 434px;
}

.modalButtonWrapper{
    display: flex;
}

.modalButtonWrapper *{
    margin-right: 16px;
}

.modalButtonWrapper *:last-child{
    margin-right: 0;
}

.crossWrapper{
    display: flex;
    align-items: flex-start;
}

.crossWrapper img{
    margin-top: 6px;
    width: 24px;
    height: 24px;
}

.whenToUseGreenAverage{
    height: 128px;
    width: 280px;
}

.iconsTop{
    padding-top: 12px;
}

#mobileTypoWrapper{
    padding-top: 0;
    margin-top: 0;

    align-items: flex-start;
}

.mainTypoWrapper{
    padding: 48px 238px;
    background-color: var(--neutral-20);
    max-width: 210px;
    margin-top: 28px;
    margin-bottom: 28px;
    border-radius: 24px;
}

.mainTypoWrapper span{
    line-height: 64px;
    font-family: Futura;
    font-size: 54px;
    color: var(--neutral-100);
}

ul{
    margin-top: 0;
    padding-left: 0;
}

li{
    color: var(--neutral-100);
    font-family: FuturaMedium;
    font-size: 20px;
    width: 654px;
}

.ulWithDashes{
    padding-left: 16.8px;
}

.ulWithDashes li{
    padding-left: 10px;
}
.aboutList li::marker{
    content: ""
}

li::marker{
    content: "—"; /* FontAwesome Unicode */
    font-family: Futura;
    font-size: var(--icon-size);    
    padding-right: 10px;
    color: var(--neutral-100);

}

.mainTypoExamples{
    display: flex;
    padding: 0 32px ;
    margin-top: 0;
    max-width: 656px;
    width: 656px;
    margin-bottom: 0;
}

.last{
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;
}

.leftWrapper{
    display: flex;
    flex-direction: column;
    width: 457px;
    border-right: 1px solid;
}

.rightWrapper{
    display: flex;
    flex-direction: column;
}

.leftWrapper h1, .leftWrapper h2, .leftWrapper h3{
    padding-bottom: 0;
    margin-bottom: 0;
    margin-top: 0;
}

.leftWrapper p, .marginBot20{
    margin-bottom: 20px;
}

.leftWrapper h1{
    line-height: 64px;
    margin-bottom: 36px;
}

.leftWrapper h2{
    margin-bottom: 44px;
    line-height: 44px;
}

.leftWrapper h3{
    margin-bottom: 56px;
}

.rightWrapper *:nth-child(1){
    margin-bottom: 53px;
}

.rightWrapper *:nth-child(2){
    margin-bottom: 60px;
}

.rightWrapper *:nth-child(3){
    margin-bottom: 56px;
}

.rightWrapper *:nth-child(4){
    margin-bottom: 56px;
}


.typoMenu{
    height: 350px;
    padding: 28px 20px;
    align-items: flex-start;
}

.weight{
    font-size: 40px;
    line-height: 44px;
    margin-bottom: 16px !important;
}

.rightWeight{
    margin-bottom: 36px !important;
}

.mainTypoWeight{
    height: 238px;
}

.rightWrapper + .mobile *:nth-child(1){
    margin-bottom: 33px;
}

.rightWrapper + .mobile *:nth-child(2){
    margin-bottom: 40px;
}

.rightWrapper + .mobile *:nth-child(3), .rightWrapper + .mobile *:nth-child(4){
    margin-bottom: 36px;
}

#mobileH1{
    font-size: 36px;
    line-height: 44px;
    margin-bottom: 32px;
}

#mobileH2{
    font-size: 24px;
    line-height: 28px;
    margin-bottom: 34px;
}

#mobileH3{
    font-size: 20px;
    line-height: 26px;
    margin-bottom: 34px;
}

.typoExampleWrapper{
    display: flex;
    width: 325px;
    height: 64px;
    padding: 40px 40px 40px 51px;
    margin-bottom: 28px;
    margin-top: 24px;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    border-radius: 24px;
    background-color: var(--neutral-20);
}

.flexWow{
    display: flex;
    gap: 40px;
    align-items: center;
}


.aquaLine{
    width: 183px;
    border: 1px solid var(--aqua-100);
    margin-bottom: 8px;
    padding-bottom: 0;
}

.withLine{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
}

.developmentTexts p, .paddingBot24{
    padding-bottom: 24px;
}

.mainTypoWrapper div:nth-last-child(-n+2) {
    padding-left: 16px;
}

.imagesPrinciplesWrapper{
    display: flex;
    gap: 16px;
    flex-direction: column;
    padding-bottom: 28px;
}

.imagesPrinciplesWrapper img{
    width: 416px;
    height: 280px;
}

.loadingPadding{
    padding-top: 12px;
    padding-bottom: 20px;
}

.colorWrapper{
    padding-top: 24px;
}

.colorPaletteWrapper{
    display: flex;
    flex-wrap:wrap;
    gap: 8px;
}

.colorPalleteFooter{
    display: flex;
    width: 170px;
    justify-content: space-between;
    text-align: center;
    padding: 8px 15px 12px 15px;
    background-color: var(--neutral-20);
    border-radius: 0px 0px 8px 8px;
}

.colorPalleteFooter p{
    display: flex;
    height: 24px;
    font-size: 20px;
    line-height: 24px;
}

.colorPalleteFooter img{
    margin-right: 4px;
    width: 16px;
    height: 24px;
}

.colorPalleteFooter img:hover{
    cursor: pointer;
}

.singleColor{
    width: 200px;
    height: 72px;
    border-radius: 8px 8px 0px 0px;
}

.manyTexts a:visited{
    color: var(--blue-100);
}

.colorOpacity{
    color: var(--neutral-60);
}

#blue100{
    background-color: var(--blue-100);
}

#blue80{
    background-color: var(--blue-80);
}

#blue60{
    background-color: var(--blue-60);
}

#blue40{
    background-color: var(--blue-40);
}

#blue20{
    background-color: var(--blue-20);
}

#aqua100{
    background-color: var(--aqua-100);
}

#aqua80{
    background-color: var(--aqua-80);
}

#aqua60{
    background-color: var(--aqua-60);
}

#aqua40{
    background-color: var(--aqua-40);
}

#aqua20{
    background-color: var(--aqua-20);
}


#neutral100{
    background-color: var(--neutral-100);
}

#neutral90{
    background-color: var(--neutral-90);
}

#neutral80{
    background-color: var(--neutral-80);
}

#neutral70{
    background-color: var(--neutral-70);
}

#neutral60{
    background-color: var(--neutral-60);
}

#neutral50{
    background-color: var(--neutral-50);
}

#neutral40{
    background-color: var(--neutral-40);
}

#neutral30{
    background-color: var(--neutral-30);
}

#neutral20{
    background-color: var(--neutral-20);
}

#neutral10{
    background-color: var(--white);
}

#success100{
    background-color: var(--success-100);
}

#success40{
    background-color: var(--success-40);
}

#error100{
    background-color: var(--error-100);
}

#error40{
    background-color: var(--error-40);
}

#attention100{
    background-color: var(--attention-100);
}

#attention60{
    background-color: var(--attention-60);
}

#info100{
    background-color: var(--info-100);
}

#info80{
    background-color: var(--info-80);
}

.whiteBorder{
    width: 198px;
    border: 1px solid var(--Neutral-30, #EFF0F3);
    border-bottom: none;
}

.paddingTop24{
    padding-top: 24px;
}

.paddingTop0{
    padding-top: 0;
}

.pLink{
    color: var(--info-100);
    border-bottom: 1px solid var(--info-100);
}

.pLink:hover{
    cursor: pointer;
}

.customTag{
    display: flex;
    justify-content: space-between;
    gap: 10px;
    padding: 8px 16px;
    border-radius: 24px;
    background-color: var(--blue-40);
    height: 24px;
    margin-right: 24px;
    max-width: fit-content;
}

.customTag p{
    height: 24px;
}

.inputTab{
    width: 240px;
    height: 74px;
    padding: 93px 264px 113px 264px;
}

.myInput, .myTextarea{
    display: flex;
    flex-direction: column;
    gap: 10px;
}


.myInput label{
    width: 216px;
    color: var(--neutral-100, #0B1530);
    font-family: FuturaMedium;
    font-size: 20px;
    line-height: 24px; 
}

.myInput input{
    border-radius: 8px;
    border: 1px solid var(--neutral-60);
    background: var(--white);
    height: 24px;
    display: flex;
    padding: 8px 12px;
    align-items: flex-start;
    gap: 10px;
    }

.myInput input::placeholder{
    width: 216px;
    color: var(--neutral-60);
    font-family: FuturaMedium;
    font-size: 20px;
    line-height: 24px; 
}

.myInput input{
    font-family: FuturaMedium;
    font-size: 20px;
    line-height: 24px; 
}

.myInput input:focus{
    border: 1px solid var(--neutral-100);
}

.inputNameWrapper{
    margin-top: 28px;
    flex-direction: column;
    display: flex;
    gap: 12px;
    width: 240px;
}

.manyInputsWrapper{
    display: flex;
    gap: 32px;
}

.incorrectInputName{
    display: flex;
    align-items: end;
    gap: 20px;
}

.incorrectInputName p{
    margin-bottom: 8px;
}

.inputsStatesWrapper{
    display: flex;
    gap: 16px;
    width: 416px;
    align-items: center;
    margin-bottom: 20px;
}

.inputsStatesWrapper:last-child{
    margin-bottom: 0;
}

.inputsStatesWrapper p{
    width: 144px;
}

.inputsStatesWrapper .myInput{
    width: 256px;
}

.wideInput{
    height: 66px;
    padding: 40px 37px 40px 32px;
    width: 332px;
}

.wideInput p{
    width: fit-content;
    margin-right: 4px;
}

.wideInput .myInput input{
    width: 240px;
}

.myInput .incorrect{
    font-size: 16px;
    line-height: 15px;
}

.incorrectInputCaption{
    display: flex;
    gap: 8px;
    align-items: center;
}


.incorrectInputCaption img{
    background-color: var(--error-100);
    width: 16px;
    height: 16px;
    border-radius: 16px;
    margin-right: 0;
}

.incorrectInputsStyle{
    margin-bottom: 26px;
}

#hoverInput:focus, .nonFocusable:focus{
    outline: none;
}

#FulledInput, #FulledInput:active{
    outline: none !important;
    border: 2px solid var(--neutral-100);
    border-radius: 8px;
}

#greenInput, #greenInput:active{
    outline: none !important;
    border: 2px solid var(--success-100);
    border-radius: 8px;
}

#redInput, #redInput2, #redInput:active{
    outline: none !important;
    border: 2px solid var(--error-100);
    border-radius: 8px;
}

#orangeInput, #orangeInput:active{
    outline: none !important;
    border: 2px solid var(--attention-100);
    border-radius: 8px;
}

#hoverInput{
    border: 1px solid var(--neutral-60);
    background: var(--neutral-20);
}

input:disabled{
    border: 1px solid var(--neutral-60);
    background: var(--neutral-40);
}   

.selectTab{
    display: flex;
    justify-content: center;
    align-items: flex-start;
}

.visibleSelect{
    margin-bottom: 4px;
    display: flex;
    width: 216px;
    padding: 8px 20px;
    justify-content: space-between;
    align-items: center;
    border-radius: 12px;
    background: var(--white);
    border: 1px solid var(--neutral-50);

}

.visibleSelect p{
    color: var(--neutral-100);
    font-family: Futura;
    font-size: 20px;
    line-height: 24px; 
    max-width: 150px;
    white-space: nowrap;
overflow: hidden;
text-overflow: ellipsis;
}

.selectOptions{
    border-radius: 8px;
    background: var(--white);   
    padding: 8px;

}   

.selectOptions p{
    display: flex;
    width: 41px;
    align-items: center;
    padding: 8px 187px 8px 12px;
    border-radius: 8px;
}

.selectOptions p:hover{
    background: var(--neutral-20);
}

.selectTabContent{
    height: 260px;
    padding: 80px 256px;
    width: 256px;
    align-items: flex-start;
}

.visibleSelect img:hover{
    cursor: pointer;
}

.selectedOption{
    background: var(--neutral-40);
}

.hoveredOption{
    background: var(--neutral-20);
}

#clickedInputSelect{
    border: 1px solid var(--neutral-60  );
background: var(--neutral-40);
}

#focusedInputSelect{
    border: 1px solid var(--neutral-100);
    background: var(---white);
}

#disabledInputSelect{
    border: 1px solid var(--neutral-60);
    background: var(--neutral-40);
}

#disabledInputSelect p{
    color: var(--neutral-60);

}

#accentInputSelect{
    border: 1px solid var(--blue-100);
    background: var(--blue-100);
    color: var(--white);
}

#greenInputSelect{
    border: 1px solid var(--success-100);
    background: var(--white);
}

#redInputSelect, #redInputSelect2{
    border: 1px solid var(--error-100);
    background: var(--white);
}

#orangeInputSelect{
    border: 1px solid var(--attention-100);
    background: var(--white);
}

.fullBorder{
    border-radius: 24px;
}

.number{
    background-color: var(--blue-100);
    color: var(--white);
    width: 24px;
    height: 24px;
    border-radius: 12px;
    text-align: center;
}

.steps{
    display: flex;
    gap: 8px;
}

.stepsNormal p{
    color: var(--neutral-60);
}

.stepsNormal .number{
    background-color: var(--neutral-60);
    color: var(--white);
}

.stepsNormal  .menuTab__selected::after{
    border: 2px solid var(--neutral-60);
}

.tooltipTab{
    height: 280px;
    padding: 0;
    width: 768px;
}

.twoIMgsWrapper{
    display: flex;
    gap: 8px;
    padding-bottom: 16px;
}

.paddingBot12{
    padding-bottom: 12px;
}

.SegmentedControl{
    display: inline-flex;
    padding: 2px;
    align-items: center;
    gap: 2.5px;
    border-radius: 9px;
    background: var(--neutral-30);
}

.SegmentedControl *{
    display: flex;
    padding: 6px 24px;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 8px;
    background: var(--neutral-30);
    color: var(--blue-100);
}

.selectedControl{
    background: var(--blue-100);
    color: var(--white);
}   

.hoverControl{
    background: var(--neutral-40);
}

.hoverControl::before{
    content: '|';
    position: absolute;
    padding-right: 106.5px;
    color: var(--neutral-50);
}

.SegmentedControlWrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    width: 320px;
    justify-content: flex-start;
}

.SegmentedControlWrapper span{
    width: 73px;
    margin-right: 40px;
    margin-top: 16px;
}

.SegmentedControlWrapper span:last-child{
    margin-right: 0;
}

.greyBack{
    background-color: var(--neutral-20);
    width: 384px;
    height: 122px;
    padding: 16px;
    border-radius: 24px;

}

.whiteBack{
    width: 330px;
    padding: 24px 19px;
    border-radius: 18px;
    background: var(--white);
}


textarea{
    padding: 8px 12px;
    resize: none;
    border-radius: 8px;
    border: 1px solid var(--neutral-60);
    background: var(--white);
    width: 232px;
    font-family: FuturaMedium;
    color: var(--neutral-100);
    font-size: 20px;
    line-height: 24px; 
}

textarea::placeholder{
    font-family: FuturaMedium;
    color: var(--neutral-60);
    font-size: 20px;

    line-height: 24px; 
}

.textareaWrapper{
    padding: 40px 48px;
    border-radius: 24px;
    background: var(--neutral-20);
    width: 320px;
}

.textAreaStatesWrapper{
    align-items: flex-start;
}

.textAreaWideExmp{
    height: 114px;
}

.textAreaStatesWrapper p{
    margin-top: 8px;
}
